@using Jenpbiz.Models
@model List<Jenpbiz.Models.Product>
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
<div class="container">
    <br/>
    <h3>Products: @Model.Count.ToString()</h3>
    <br />
    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Price</th>
                <th>Currency</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                        <td>@p.ProductId</td>
                        <td>@p.ProductTitle</td>
                        <td>@p.ProductDescription</td>
                        <td>@p.ProductCategory</td>
                        <td>@p.Price.PriceValue</td>
                        <td><span class="badge">@p.Price.PriceCurrency</span></td>
                        <td>@p.ProductAvailability.ToString().ToLower()</td>
                    <td><a href="~/Product/GetProduct/@p.ProductId"><span class="glyphicon glyphicon-eye-open pull-right"></span></a></td>
                    <td><a href="~/Product/DeleteProduct/@p.ProductId"><span class="glyphicon glyphicon-remove-sign text-danger pull-right"></span></a></td>
                </tr>
            }
        </tbody>
    </table>
    


</div>
    </body>
    </html>
